<div id="contenitore1" class="container py-3 mb-10 w-100 justify-content-center text-center">
  <div class="container m-5 ">
    <h2>Welcome to your personal CRM!</h2>
    <div id="gest" class="d-flex flex-row-reverse w-100 p-2 justify-content-start" >
      <div class="w-50 bg-light py-3 mb-10 shadow p-1 m-5 rounded d-flex">
        <div class="text-center">
          <div id="navbar1" class="w-100 text-light text-start p-1 m-5">
            <span class="btn btn-outline-success m-1 text-light " [routerLink]="['/login']" routerLinkActive="active">Login</span>
            <span class="btn btn-outline-warning m-1 text-light" [routerLink]="['/registrati']" routerLinkActive="active">Registrati</span>
          </div>
          <p class="p-3 text-start">CRM sta per "Customer Relationship Managment", è una tecnologia che aiuta a tener traccia di tutto cio che riguarda i clienti preseniti e futuri per costruire con loro relazioni uniche e durature.</p>
        </div>
      </div>
      <div>
        <div id="CRM"></div>
      </div>
    </div>
  </div>

